<!-- BEGIN BLOCK content -->
<div class="content">

	<!-- BEGIN BLOCK svg-box js-box -->
	<div class="svg-box js-box" data-animate="leftRotateBounce">
	<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="299.4px" height="127.4px" viewBox="0 0 299.4 127.4"
	 style="overflow:scroll;enable-background:new 0 0 299.4 127.4;" xml:space="preserve">
<defs>
</defs>
<polygon class="js-small poly poly_small st0_1" points="226.3,126.7 142.1,127.4 218.9,58.1 "/>
<polygon class="js-shadow poly poly_shadow st1_1" points="0.1,87.1 226.3,126.7 267.3,48.1 18.5,44 "/>
<polygon class="js-main poly poly_main st0_1" points="8.9,13 0,86.8 272.7,97.8 299.4,0 "/>

</svg>
	<button class="button button_trigger js-trigger">Animate</button>
	</div>
	<!-- END BLOCK svg-box js-box -->


	<!-- BEGIN BLOCK svg-box js-box -->
	<div class="svg-box js-box"  data-animate="topDropBounce">
	<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="372.8px" height="119.6px" viewBox="0 0 372.8 119.6"
	 style="overflow:scroll;enable-background:new 0 0 372.8 119.6;" xml:space="preserve">
<defs>
</defs>
<polygon class="poly poly_small st0_2" points="28,104.4 264.1,119.6 63.7,34.3 "/>
<path class="poly poly_shadow st1_2" d="M372.8,80.4L28,104.4l34.5-80.2c0,0,283.9,19.4,283.9,21.1S372.8,80.4,372.8,80.4z"/>
<polygon class="poly poly_main st0_2" points="352.9,26.1 24,0 0,78.1 372.8,80.4 "/>
</svg>
<button class="button button_trigger js-trigger">Animate</button>
	</div>
	<!-- END BLOCK svg-box js-box -->


	<!-- BEGIN BLOCK svg-box js-box -->
	<div class="svg-box js-box" data-animate="frontAppearSlowmo">
	<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="327.7px" height="115.5px" viewBox="0 0 327.7 115.5"
	 style="overflow:scroll;enable-background:new 0 0 327.7 115.5;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#FBB03B;}
	.st1{fill:#F15A24;}
</style>
<defs>
</defs>
<polygon class="poly poly_small st0" points="108,113.4 226.2,115.5 142.5,63.7 "/>
<polyline class="poly poly_shadow st1" points="325.6,90.7 105.8,113.9 110.1,36.7 298.6,28.6 326.7,88.5 "/>
<polygon class="poly poly_main st0" points="4.3,18.4 0,91.8 327.7,91.2 314.8,0 "/>
</svg>

<button class="button button_trigger js-trigger">Animate</button>
	</div>
	<!-- END BLOCK svg-box js-box -->


	<!-- BEGIN BLOCK svg-box js-box -->
	<div class="svg-box js-box"  data-animate="growFromNowhere">
	
<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="341.8px" height="112.5px" viewBox="0 0 341.8 112.5"
	 style="overflow:scroll;enable-background:new 0 0 341.8 112.5;" xml:space="preserve">
<defs>
</defs>
<polygon class="poly poly_small st0_4" points="214.8,100.7 124.9,112.5 243.6,23.7 237,68 "/>
<polygon class="poly poly_shadow st1_4" points="25.6,14.4 0.7,53.5 215.8,100.4 269.4,21 "/>
<polygon class="poly poly_main st0_4" points="9.4,0 326.5,1.8 341.8,81.9 0,53.3 "/>
</svg>
<button class="button button_trigger js-trigger">Animate</button>
	</div>
	<!-- END BLOCK svg-box js-box -->


</div>
<!-- END BLOCK content -->