.icon-origami_1 {
  width: 3.04em;
  height: 1em;
  fill: initial;
}
.icon-origami_2 {
  width: 2.35em;
  height: 1em;
  fill: initial;
}
.icon-origami_3 {
  width: 3.12em;
  height: 1em;
  fill: initial;
}
.icon-origami_4 {
  width: 3em;
  height: 1em;
  fill: initial;
}
.icon-origami_5 {
  width: 1.93em;
  height: 1em;
  fill: initial;
}
.icon-origami_6 {
  width: 3.34em;
  height: 1em;
  fill: initial;
}
.icon-origami_7 {
  width: 1.4em;
  height: 1em;
  fill: initial;
}
.icon-origami_8 {
  width: 2.84em;
  height: 1em;
  fill: initial;
}
